header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-links {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.header-links>*>img {
    padding: 1px;
    margin: 1px;
    height: 50px;
    width: 50px
}

.header-logo>a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.header-logo>*>img {
    padding: 1em;
    margin: 1em;
    width: 5em;
    height: 5em;
}

footer {
    text-align: center;
    padding-top: 10px;
}

.new-banner {
    background-color: #2b2d31;
    border-radius: 15px;
    border-bottom: 5px solid #171717;
    padding: 10px;
    margin: 10px;
}

.new-banner:hover {
    background-color: #171717;
    transition: background-color 0.3s;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.new-banner>img {
    width: 50%;
    border-radius: 10px;
}

.new-banner-text {
    margin: 15px;
    width: 50%;
    display: block;
    flex-direction: initial;
    align-items: left;
}

.activity {
    margin: 10px;
    padding: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.activity>img {
    border-radius: 10px;
}

.transparent-logo {
    width: 12.5%;
    padding: 12.5%;
}

@media (max-width: 630px) {
    #header-title {
        display: none;
    }

    #follow-us {
        display: none;
    }

    #calculator-easter-egg {
        display: none;
    }
}

@media (max-width: 515px) {
    header {
        flex-direction: column;
    }

    .header-links {
        justify-content: center;
    }

    #follow-us {
        display: none;
    }

    .side-by-side {
        flex-direction: column;
    }
}