body {
  margin: 0;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  background: black;
  color: white;
  font-size: 1.2em;
}

img {
  vertical-align: middle;
}

.bigger {
  font-size: 1.5em;
}

.left-aligned {
  text-align: left;
}

.green {
  color: #00e503;
}

a {
  color: #00e503;
  border-radius: 3px;
  text-decoration: dashed underline;
  text-underline-offset: 2px;
}

a:hover {
  color: black;
  background-color: #00e503;
  box-shadow: 0 0 10px #00e503;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

h2,
h4 {
  color: #00e503;
}

h5 {
  font-size: medium;
}

::selection,
::-moz-selection {
  background: #00e503;
  color: black;
}

mark {
  border-radius: 5px;
}

.label {
  color: #00e503;
  width: fit-content;
  position: relative;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  background: #00e503;
  overflow: hidden;
  border: 2px solid #00e503;
  outline: 2px #00e503;
  border-color: #00e503;
  background: #ffd81700;
}

.link-button {
  color: black;
  font-family: monospace;
  width: fit-content;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 18px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  background: #00e503;
  overflow: hidden;
  border: 20px #00e503;
  outline: 20px black;
  background: linear-gradient(90deg, #00e503, #72ffd9);
}

.link-button:hover {
  border: 20px #00e503;
  background-size: 200% 200%;
  transition: background 0.1s linear;
  background-color: #00e503;
}

input {
  background-color: black;
  color: #00e503;
  border: 2px solid #00e503;
  border-radius: 5px;
  font-family: monospace;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
