body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #121212;
    color: white;
}

a {
    text-decoration: none;
    color: #00e503;
}

h1, h2 {
    color: #5bea75;
}

.header {
    background-image: url("images/hex.png");
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo > a {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.header-logo > a > img {
    padding: 1em;
    margin: 1em;
}

.header-logo > a > h1 {
    color: black;
}

.new-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.new-banner > img {
    width: 100%
}

.new-banner-text {
    margin: 5em;
    padding: 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.label {
    width: fit-content;
    position: relative;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    background: #00e503;
    overflow: hidden;
    border: 2px #00e503;
    outline: 2px #ffd81700;
    background: linear-gradient(90deg, #5bea75, #72ffd9);
}

.fancy-button {
    width: fit-content;
    position: relative;
    display: inline-block;
    padding: 7px 18px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    background: #00e503;
    overflow: hidden;
    border: 20px #00e503;
    outline: 20px #ffd81700;
    cursor: pointer;
    background: linear-gradient(90deg, #5bea75, #72ffd9);
}

.fancy-button:hover {
    background: #00e5ac;
    border: 20px #00e5bf;
    background: linear-gradient(90deg, #72ffd9, #5bea75);
    animation: bubble 0.4s ease-out;
}

.ripples {
    position: absolute;
    background: #FFF;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: rippleanimate 0.4s linear infinite;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rippleanimate {
    0% {
        width: 0px;
        height: 0%;
        opacity: 0.4;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}