body {
  align-items: left;
  justify-content: left;
  text-align: left;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: #ced2ee;
  background-color: #232426;
  cursor: pointer;
}

button.primary {
  background-color: #5865f2;
  font-weight: bold;
}

button.success {
  background-color: #00863a;
}

summary {
  cursor: pointer;
}

pre,
.card {
  background-color: #131416;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

.card:hover {
  background-color: #1e2023;
}

.card-amount {
  float: right;
}

.card-amount.error {
  color: #ff0000;
  border-color: #ff0000;
}
